@tailwind base;
@tailwind components;
@tailwind utilities;


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3 {
	@apply font-playfair-display font-semibold tracking-[-0.5px];
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

p {
	@apply font-satoshi-regular text-xl font-normal tracking-wide leading-[1.8rem];
}

.collection-card-grid-template {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  transition: transform 0.5s ease-in-out;
}

.carousel > * {
  box-sizing: border-box;
}